.title {
    color: var(--text-color);
}

.textBlock {
    color: var(--text-color);
}

.error {
    .title {
        color: var(--danger-color);
    }

    .textBlock {
        color: var(--danger-color);
    }
}

.accent {
    .title {
        color: var(--warning-color);
    }

    .textBlock {
        color: var(--warning-color);
    }
}

.inverted {
    .title {
        color: var(--inverted-text-color);
    }

    .textBlock {
        color: var(--inverted-text-color);
    }
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_xxs {
    .title {
        font: var(--font-xs);
    }

    .textBlock {
        font: var(--font-xxs);
    }
}

.size_xs {
    .title {
        font: var(--font-s);
    }

    .textBlock {
        font: var(--font-xs);
    }
}

.size_s {
    .title {
        font: var(--font-m);
    }

    .textBlock {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .textBlock {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .textBlock {
        font: var(--font-l);
    }
}

.size_xl {
    .title {
        font: var(--font-xl);
    }

    .textBlock {
        font: var(--font-xl);
    }
}

.bold {
    .title, .textBlock {
        font-weight: 500;
    }
}

.thin {
    .title, .textBlock {
        font-weight: 300;
    }
}

.link {
    cursor: pointer;
    p, h1, h2, h3, h4, h5, h6 {
        color: var(--link-color);
        
        &:hover {
            text-decoration: underline;
        }

        &:active {
            opacity: 0.6;
        }
    }
}

.withoutWrap {
	text-wrap: nowrap;
}
