.normal {
	background: var(--primary-color);
}

.chosen {
	background: var(--secondary-color);
}

.outlined-bottom {
	background: transparent;
	border-bottom: 1px solid var(--divider-color);
}

.border-none {
	border-radius: none;
}

.border-slightly {
	border-radius: 6px;
}

.border-round {
	border-radius: 40px;
}

.max {
	width: 100%;
}

.gap_0 {
	padding: 0;
}

.gap_8 {
	padding: 8px;
}

.gap_16 {
	padding: 16px;
}

.gap_24 {
	padding: 24px;
}

.active {
	//cursor: pointer;
	transition: background-color 0.05s;
	&:hover {
		&.outlined-bottom  {
			background-color: var(--primary-color);
		}
		&.normal {
			background-color: var(--secondary-color);
		}
	}
}