.item {
    transition: background-color 0.05s;
    &:hover {
        background-color: var(--inverted-primary-color);
        border-right: 1px solid var(--divider-color);
    }
}

.active {
    background: var(--inverted-primary-color);
    stroke: var(--inverted-icon-color);
    p {
        text-decoration: underline;
        color: var(--inverted-active-text-color) !important; //для пробивки цвета в компоненте Text
    }
}

.head {
    cursor: default;
    p {
        color: var(--inverted-active-text-color) !important; //для пробивки цвета в компоненте Text
    }
}

.headLink {
    color: var(--inverted-active-text-color) !important; //для пробивки цвета в компоненте Text
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}