.UserButton {
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    &:hover {
        background-color: var(--primary-color);
    }
    &:active {
      background-color: var(--secondary-color);
    }
}

.icon {
  width: 20px;
  height: 20px;
}

@media (max-height: 650px) {
  .UserButton {
    padding: 0;
    width: var(--navbar-height);
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 14px;
    height: 14px;
  }
  
  .title {
    display: none;
  }
}
