.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  border-right: 1px solid var(--divider-color);
}

.withDevpanel {
  height: calc(100vh - var(--navbar-height) - var(--devpanel-height));
}