.OrgUnitServiceBlock {
    width: 100%;
    border-bottom: 1px solid var(--divider-color);
    padding: 16px;
    margin-bottom: 16px;
}

.innerBlock {
    margin-left: 16px;
}

.manager {
    text-decoration: underline;
    color: var(--text-color)
}